@tailwind base;
@tailwind components;
@tailwind utilities;

.question {
  @apply flex justify-between items-center cursor-pointer;
}

.question--active {
  @apply font-semibold;
}

.question--active img {
  @apply rotate-180;
}

.answer--active {
  @apply block;
}

.question--active p {
  @apply font-semibold;
}

.question:first-child {
  @apply hover:text-pri-txt-red;
}

article {
  @apply py-4 border-div-blue border-b-[1px];
}

article p {
  @apply pt-4 hidden pr-4 text-nue-txt-blue;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
